*{
    box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Be Vietnam Pro', sans-serif;
}

.contenedor_header {
display: flex;
flex-direction: row;
height: 174px;
align-content: center;
justify-content: space-between;
border: 1px black solid;
flex-wrap: wrap;
padding-inline: 150px;
}

.contenedor_header ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.contenedor_header li {
    padding: 15px;
}
.contenedor_header .logo{
display: flex;
}
.boton{
    color: white;
    background-color: #8b48bf;
    border-radius: 50px;
    padding: 0.4rem 2rem ;
    border: 0px ;
}
.contenedor_header .boton{
    padding: 0rem 3rem ;
}
.contenedor_body {
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    justify-content: center;
    padding: 5vw 10vw;
}
.contenedor_body .columna1 {
    border: 1px black solid;

}
.contenedor_body .columna1 img
{
    width:30vw ;
}
.contenedor_body .columna2 {
    display: flex;
    border: 1px black solid;
    width: 30vw;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3rem;
    }
.contenedor_body .columna2 h1{
    display: block;
    font-size: 26px;
    font-weight: 900;
}
.header2{
    border: 1px black solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    background-color: #8b48bf;
    color: white;
}
.header2 div{
    width: 40%;
}
.contenedorbody2{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    padding: 2vw;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    
}
.contenedorbody2 .boton{
    padding: 0.5rem 1.1rem ;
    font-weight: 900;
}
.tarjeta{
    
    display: flex;
    width:553px;
    padding: 1rem 0rem ;
    
}
.tarjeta h3{
    font-weight: 900;
    padding: 5px 0px 15px;
}
.tarjeta div{
    padding: 1rem;
}
.body2{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 100px;
}
.columna3{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    border: 1px black solid;
    justify-content: center;
    padding: 30px;
}
.titulo{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
    padding: 15px;
}
.tarjetapersona{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
}


.foto{
    position: relative;
    margin-bottom: -40px;
    z-index: 1;
}
.tarjetapersona .descripcion{
    background-color: #FAFAFA;
    text-align: center;
    padding: 60px 0px 0px;
    position: relative;
    width: 403px;
}
.tarjetapersona .descripcion h3{
    padding-bottom: 20px;
}
.tarjetapersona .descripcion button{
    display: block;
}
.footer1{
    display: flex;
    border: 1px black solid;
    background-color: #8b48bf;
    justify-content: space-evenly;
    padding: 2rem;
    color: white;
}
.footer1 .boton{
    color: #8b48bf;
    background-color: white;
    border-radius: 50px;
    padding: 0.4rem 2rem ;
    border: 0px ;
    font-weight: 900;
}
.footer2 {
    
    background: #1E1E26;
    display: flex;
    border: 1px black solid;
    justify-content: space-evenly;
    padding: 2rem;
    color: white;

}

.footer2 ul { 
    list-style-type: none;
 }

 .lista {
    column-count: 2; 
    column-gap: 10rem;
    padding: 0; 
    list-style: none; 
    line-height: 2rem;
    
 }
.buscador {

    top: 10px; 
    right: 20px; 
    
    gap: 10px; 
}
 
.copy {
position: relative
;



}

.footer2 .boton{
    padding: 0.4rem 1rem ;
    bottom: 0;
    
}
