*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.contenedor_header {
    display: flex;
    flex-direction: row;
    height: 174px;
    align-content: center;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.contenedor_header ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #242E52;
}
.contenedor_header li {
    padding: 15px;
}
.contenedor_header .logo {
    display: flex;
}

.hamburger {
    display: none;
}

.boton{
    background-color: #8b48bf;
    color: white;
    border-radius: 50px;
    padding: 12.5px 41px;
    border: none;
    font-weight: 500;
}

.contenedor_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw 10vw;
}
.contenedor_body .columna1 {
    display: flex;
}

.contenedor_body .columna1 img
{
    display: flex;
    position: relative;

}
.columna2 {
    display: flex;
    width: 30vw;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 3rem;
}

.columna2 h1{
    display: block;
    font-size: 50px;
    color: #242E53;
}

.columna2 p {
    margin: 28px 0;
    display: block;
    color: #242E53;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #8b48bf;
    color: white;

}
.colum2{
    width: 450px;
}
.colum1{
    width: 450px;
    font-size: 28px;
}
.section div{
    max-width: 40%;
}

.contenedorbody2{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    
}

.titulo {
    font-weight: 900px;
    size: 40px;
    line-height: 61.50px;
    color: #242E53;
    ;
}
.tarjeta{
    
    display: flex;
    width:553px;
    padding: 1rem 0rem ;
    
}
.tarjeta h3{
    font-weight: 900;
    padding: 5px 0px 15px;
    color:#323851;
    ;
}
.tarjeta div{
    padding: 10px;
}
.tarjeta p{
    color: #B3B2B7;
}
.body2{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 100px;
}
.columna3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.titulo{

    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.tarjetapersona{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
}


.foto{
    position: relative;
    margin-bottom: -40px;
    z-index: 1;
}
.tarjetapersona .descripcion{
    background-color: #FAFAFA;
    text-align: center;
    padding: 60px 0px 0px;
    position: relative;
    width: 403px;
    color: #B3B2B7;
}
.tarjetapersona .descripcion h3{
    padding-bottom: 20px;
    color: #3F4868;
}
.tarjetapersona .descripcion button{
    display: block;
}

.footer2 {
    
    background: #1E1E26;
    padding: 2rem;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer2 ul { 
    list-style-type: none;
 }

 .lista {
    column-count: 2; 
    column-gap: 200px;
    padding: 0; 
    list-style: none; 
    line-height: 2rem;
    
}

.buscador {
    display: flex;
    align-items: flex-start;
    
}
.buscador input{
    color: #8C8C94;
    font-weight: 100;
}
.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #8b48bf;
    color: white;
    font-size: 25px; }

    .section2 div{
        max-width: 40%;

    }
.button-section {
    box-shadow: 0px 4px 8px 0px #00000040;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #8B48BF;
    padding: 12.5px 42px;
    border: none;
    font-weight: 500;
    cursor: pointer;

    transition: padding .2s ease;
}

.button-section:hover {
    padding: 12.5px 50px;
    color: red;
}

.footer-button {
    padding: 11.5px 22.5px;
    border-radius: 50px;
    background-color: #8B48BF;
    color:  #FFFFFF;
    border: none;
}

input {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #A0A0A0;
    margin-right: 9px;
}

.copy {
    text-align: right;
    color: #8C8C94;
}

.footer-icon {
    width: 100%;
}

@media (max-width: 768px) {

    /* Header */
    .navegador {
    display: none;
    }
    .hamburger {
        display: block;
    }
    
    nav ~ .boton {
        display: none;
    }
    .columna1{
        padding-bottom: 15vh;
    }
    .columna2 {
        width: auto;
    }

    .columna2 h1 {
        width: auto;
    }

    .tarjeta {
        flex: 1 0 100%;
    }

    .tarjeta h3 {
        margin-left: -50px;
        padding-left: 50px;
        background-color: #8B48BF4D;
        margin-right: -30px;
    }
    .section {
        background: #3CDDF3;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        font-size: medium;
    }

    .section div {
        max-width: none;
    }

    .section2 .button-section {
      background: #232C50;
      color: #FAFAFA;
    }
    .section2 {
        background: #3CDDF3;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        text-align: center;
        
    }

    .section2 div {
        max-width: none;
        padding: 0px 60px;
    }

    /* Footer */
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-container ul{
        padding: 0px 40px;
    }
    .buscador{
        padding: 0px 30px;
    }

    .footer-social {
        flex-direction: column-reverse;
    }

    .footer-social > img {
        max-width: 800px;
        margin: 35px 0;
    }

    .footer-icon {
        display: flex;
        justify-content: space-between;
    }
 
    .lista {
        margin: 25px 0;
    }
    .copy {
        text-align: center;
    }
}